<nav id="mainMenu">
	<a ui-sref="home" class="logo">{{locales.menu.home}}</a>
	
	<!-- Static menu -->
	<ul class="mainMenu">
		<li><a class="btn btnHome btn-default btn-lg" ui-sref="home">{{locales.menu.home}}</a></li>
		<li><a class="btn btnTestPage btn-default btn-lg" ui-sref="test">{{locales.menu.test}}</a></li>
		<li><a class="btn btnTest btn-default btn-lg" href="#/feed/feed1">{{locales.menu.feed1}}</a></li>
		<li><a class="btn btnTest btn-default btn-lg" href="#/feed/feed2">{{locales.menu.feed2}}</a></li>
	</ul>

	<div class="clearfix"></div>
</nav>