<nav id="mainMenu">
	<a ui-sref="home" class="logo">{{model.home}}</a>
	
	<!-- Static menu -->
	<ul class="mainMenu">
		<li><a class="btn btnHome btn-default btn-lg" ui-sref="home">{{model.home}}</a></li>
		<li><a class="btn btnTestPage btn-default btn-lg" ui-sref="test">{{model.test}}</a></li>
		<li><a class="btn btnTest btn-default btn-lg" href="#/feed/feed1">{{model.feed1}}</a></li>
		<li><a class="btn btnTest btn-default btn-lg" href="#/feed/feed2">{{model.feed2}}</a></li>
	</ul>

	<div class="clearfix"></div>
</nav>