/**
 * Example CSS file, you can of course use Stylus, LESS, etc..
 * @see http://learnboost.github.io/stylus/
 */

@import url("normalize.min.css");

html{
  
}

body{
  
}

#wrap {
    min-height:400px;
    margin:0 auto;
}

/* Splash */
.splash {
    position: absolute;
    padding:20px;
}

    .loaded .splash {
        display:none;
    }

/*-------------------------
  Header Styles
--------------------------*/

header {
    margin-top:20px;
    padding:20px 0 20px 0;
    display:block;
}

header NAV {
    
}

header .logo {
    float:left; width: 250px; height: 100px;
    margin: 5px 0 0 0;
    background: url(../images/angular+require.png) 0 0 no-repeat;
    background-size: auto 100%;
    overflow: hidden; text-indent: -1000px;
}

#mainMenu
{
    padding: 0 0 0 30px;
}

    #mainMenu h1 {
        float:left;
        text-align: left;
        font-weight: bold;
        margin:0;
        padding: 20px 0 0 0;
    }

    #mainMenu ul {
        padding: 0;
        margin: 35px 0 0 20px;
        float:left;
    }

    #mainMenu ul LI {
        list-style-type: none;
        float:left;
        margin:0 10px 0 0;
    }


footer
{
    margin: 0 auto;
    padding: 20px 0 20px 0;
    display:block;
    text-align: center;
}

/*-------------------------
    Content
--------------------------*/

#content {
    padding: 30px;
}

.page.list .item h2 {

}
.page.list .item {
    
}

/*-------------------------
    Generic Styles
--------------------------*/

a, a:visited {
    text-decoration:none;
    outline:none;
    color:#54a6de;
}

a:hover{
    text-decoration:underline;
}


ul.centeredMenu {
    float: left;
    left: 50%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

ul.centeredMenu LI {
    position: relative;
    right: 50%;
    float:left;
    margin: 0 10px 0 0;
}
