<!-- Feed template for FeedControl -->
<div id="list_{{model.name}}" class="page list container">
	<h1>{{model.title}}</h1>
	<div class="results" ng-switch on="model.items">
		<div class="404" ng-switch-when="null">
			<p>{{model.locales.noresult}}</p>
		</div>
		<div class="items" ng-switch-default>
			<div class="item rounded-shadow" ng-repeat="item in model.items">
				<h2>{{item.title}}</h2>
				<div class="content" ng-bind-html-unsafe="item.content"></div>
				<a href="{{item.link}}" target="_blank">{{item.link}}</a>
			</div>
		</div>
	</div>
</div>