<nav id="mainMenu">
	<a href="#" class="logo"></a>
	
	<!-- Static menu -->
	<ul class="mainMenu">
		<li><a class="btn btnHome" href="#/home">Home</a></li>
		<li><a class="btn btnTestPage" href="#/test">Page</a></li>
		<li><a class="btn btnTestPage" href="#/adressThatDoesNotPointAnywhereReally">404</a></li>
		<li><a class="btn btnTest" href="#/feed/feed1">List 1</a></li>
		<li><a class="btn btnTest" href="#/feed/feed2">List 2</a></li>
		<li><a class="btn btnTest" href="#/feed/listThatDoesNotExists">List 404</a></li>
	</ul>

	<div class="clearfix"></div>
</nav>